<?xml version="1.0" ?>
<robot name="DiffDrive Webots">
    <webots>

        <plugin type="diffdrive_webots_plugin::IMU">
            <imuPeriodMs>5</imuPeriodMs>
            <accelerometerName>accelerometer</accelerometerName>
            <gyroName>gyro</gyroName>
            <inertialUnitName>inertial_unit</inertialUnitName>
            <frameID>base_link</frameID>
        </plugin>

        <plugin type="diffdrive_webots_plugin::LaserScan">
            <laserScanPeriodMs>100</laserScanPeriodMs>
            <laserScanName>laser_scan</laserScanName>
            <frameID>laser</frameID>
        </plugin>

        <plugin type="diffdrive_webots_plugin::Camera">
            <cameraPeriodMs>30</cameraPeriodMs>
            <cameraName>camera</cameraName>
            <frameID>camera</frameID>
        </plugin>

        <plugin type="diffdrive_webots_plugin::DepthCamera">
            <depthCameraPeriodMs>20</depthCameraPeriodMs>
            <depthCameraName>depth_camera</depthCameraName>
            <frameID>camera</frameID>
        </plugin>

        <plugin type="diffdrive_webots_plugin::WheelEncoder">
            <wheelEncoderPeriodMs>5</wheelEncoderPeriodMs>
            <leftWheelEncoderName>left_encoder</leftWheelEncoderName>
            <rightWheelEncoderName>right_encoder</rightWheelEncoderName>
            <leftWheelJointName>left_wheel_joint</leftWheelJointName>
            <rightWheelJointName>right_wheel_joint</rightWheelJointName>
        </plugin>

        <plugin type="diffdrive_webots_plugin::DifferentialControl">
            <halfDistanceBetweenWheels>0.1</halfDistanceBetweenWheels>
            <wheelRadius>0.03</wheelRadius>
            <leftMotorName>left_motor</leftMotorName>
            <rightMotorName>right_motor</rightMotorName>
        </plugin>

    </webots>

</robot>